@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PasswordManager.Models.Record>

@{
    ViewData["Title"] = "All your passwords";
    Layout = "_Layout";
}

<h1>All your passwords</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Record name
            </th>
            <th>
                User name
            </th>
            <th>
                Password
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <div id="password">
                    @Html.DisplayFor(modelItem => item.Password)
                </div>
            </td>
            <td>

                <div class="btn btn-info" onclick="PwdToClip()">Copy</div> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="application/javascript">
    function PwdToClip() {
        alert("xoxoxo!");
        return false;
    }
</script>